ServerAliveInterval 10

Host *git*
    User git
    IdentityFile ~/.ssh/id_rsa

Host *mes*
    User centos
    IdentityFile ~/.ssh/ommes-us-east.pem

Host *tyche*
    User centos
    IdentityFile ~/.ssh/ommes-us-east.pem

Host *sls*
    User centos
    IdentityFile ~/.ssh/3iMIND_Sales_environment.pem

Host *thor*
    User centos
    IdentityFile ~/.ssh/omadmin_id_rsa

Host *yoda*
    User centos
    IdentityFile ~/.ssh/omadmin_id_rsa

Host *helium*
    User centos
    IdentityFile ~/.ssh/omadmin_id_rsa

Host amzhulk_bastion
    User centos
    Hostname om3-amzhulk-bastion.vm.local
    IdentityFile ~/.ssh/vm-keypair.pem

Host om3-amzhulk*
    User centos
    IdentityFile ~/.ssh/vm-keypair.pem
    ProxyCommand ssh amzhulk_bastion -W %h:%p

Host 192.168.100.*
    User omadmin
    IdentityFile ~/.ssh/omadmin_id_rsa

Host *ita*
    User omadmin
    IdentityFile ~/.ssh/ita_id_rsa

Host agt-lab-nfs*
    User ubuntu
    IdentityFile ~/.ssh/id_rsa

Host jenkins.dnsk.io
    User ec2-user
    IdentityFile ~/.ssh/3iMIND_Sales_environment.pem

Host jenkins.agt.lab
    User centos
    IdentityFile ~/.ssh/devops

Host j2.dnsk.io
    User centos
    IdentityFile ~/.ssh/devops
    
Host nexus.agt.lab
    User centos
    IdentityFile ~/.ssh/devops

Host artifactory.agt.lab
    User centos
    IdentityFile ~/.ssh/devops

Host jenkins-slave.agt.lab
    User centos
    IdentityFile ~/.ssh/devops

Host jenkins-deployer.agt.lab
    User centos
    IdentityFile ~/.ssh/omadmin_id_rsa
 
Host jenkins.mm.local
    User root
    IdentityFile ~/.ssh/id_rsa

Host agt-lab-dns.agt.lab
    User centos
    IdentityFile ~/.ssh/omadmin_id_rsa

Host 192.168.1.7
    User john
    IdentityFile ~/.ssh/id_rsa

Host *
    IdentityFile ~/.ssh/id_rsa
